div.topBar {
    position: fixed;
    display: flex;
    align-items: center;
    column-gap: 20px;
    background: #120C1A;
    right: 0;
    left: 0;
    z-index: 999;
    padding: 10px 10px 10px 20px;
}
div.topBar > p {
    color: #DDD;
}
span.airing {
    color: #7BD555;
}
span.completed {
    color: #FA7A7A;
}
span.unaired {
    color: #7555d5;
}
span.hiatus {
    color: #d59955;
}
span.cancelled {
    color: #142333;
}
#goButton {

    font-size: 15pt;
    height: 24pt;
    width: 150pt;
}